.data-search {
  .flex();
  .marginTop(2);
  .marginBottom(4);

  h2 {
    font-size: @headline-mid;
    color: @regular-font-color;
    font-family: @text-font-family;
    font-weight: 600;
    .marginTop(2);
    .marginBottom(5);
  }

  input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 0.1rem solid @cream;
  }

  div[role="tablist"] {
    display: flex;

    button[role="tab"] {
      .paddingX(2);
      .paddingY(1);

      background: #ddd;
      font-size: 15px;
      min-width: 200px;

      &[aria-selected="true"] {
        background: @green;
        color: @white;
      }
    }
  }
  form [type="submit"] {
    background-color: @light-grey;
    .paddingY(1);
    .paddingX(2);
  }
}

.details-container {
  .restaurant-detail {
    font-size: @text-default;
    .marginTop(4);
    .marginBottom(1);
    .flex();

    .restaurant-name {
      font-family: @text-font-family;
      font-weight: bold;
      max-width: 32rem;
      width: 100%;
    }

    .restaurant-data {
      font-family: @text-font-family;
      padding-bottom: 0;

      max-width: 32rem;
      width: 100%;
    }

    .action {
      flex: 1;
      text-align: right;

      button {
        .textButtonStyle();
      }
    }
  }
}
