.homepage {
  .textandimage {
    .marginTop(3);
    .marginBottom(2);
    .flex();

    h1 {
      font-size: @heading-biggest;
      max-width: 40rem;
      color: @headline-font-color;
      font-family: @heading-font-family;
      font-weight: 600;
      line-height: 1.2;
      .marginTop(4);
    }

    p {
      font-size: @headline-mid;
      color: @regular-font-color;
      font-family: @text-font-family;
      font-weight: 300;
      .marginY(2);
    }

    button {
      .paddingY(2);
      .paddingX(6);
      background-color: @button-color;
      color: @button-font-color;
      font-size: @headline-mid;
      text-transform: uppercase;
    }

    img {
      max-width: 52rem;
      .marginTop(4);
      .marginLeft(8);
    }
  }
}
