.flex(@justify: space-between, @align: center) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.width(@scale) {
  width: @spacing-base * @scale;
}

.height(@scale) {
  height: @spacing-base * @scale;
}

.paddingY(@scale) {
  padding-top: @spacing-base * @scale;
  padding-bottom: @spacing-base * @scale;
}

.paddingX(@scale) {
  padding-left: @spacing-base * @scale;
  padding-right: @spacing-base * @scale;
}

.marginY(@scale) {
  margin-top: @spacing-base * @scale;
  margin-bottom: @spacing-base * @scale;
}

.marginX(@scale) {
  margin-left: @spacing-base * @scale;
  margin-right: @spacing-base * @scale;
}

.marginTop(@scale) {
  margin-top: @spacing-base * @scale;
}

.marginBottom(@scale) {
  margin-bottom: @spacing-base * @scale;
}

.marginLeft(@scale) {
  margin-left: @spacing-base * @scale;
}

.marginRight(@scale) {
  margin-right: @spacing-base * @scale;
}

.paddingTop(@scale) {
  padding-top: @spacing-base * @scale;
}

.paddingBottom(@scale) {
  padding-bottom: @spacing-base * @scale;
}

.paddingLeft(@scale) {
  padding-left: @spacing-base * @scale;
}

.paddingRight(@scale) {
  padding-right: @spacing-base * @scale;
}
