.header-content {
  background-color: @header-background-color;
  .paddingY(2);

  .nav-bar {
    .flex();

    @media @mobile {
      .flexColumn();
    }

    nav {
      .flex();
      width: 100%;
      max-width: 60rem;
      font-size: @text-default;
      color: @navigation-font-color;
      text-transform: uppercase;

      @media @mobile {
        .marginTop(2);
      }
    }
  }

  .dashboard {
    .profile-pic {
      .flex();

      h2 {
        font-size: @heading-small;
        color: @signup-font-color;
        .marginRight(3);
      }
    }
  }
}
