header {
  background-color: @header-background-color;
  .paddingY(2);

  .container {
    .flex();

    nav {
      .flex();
      width: 100%;
      max-width: 60rem;
      font-size: @text-default;
      color: @navigation-font-color;
      text-transform: uppercase;
    }
  }
}

.dashboard {
  .profile-pic {
    .flex();

    h2 {
      font-size: @heading-small;
      color: @signup-font-color;
      .marginRight(3);
    }
  }
}
